<!DOCTYPE html>
<html>
<head>
<title>図書・雑誌検索</title>
</head>
<body>
<form action='book_result' method='get'>
<b>キーワード: </b> <input type="text" name="book" value="">
<button type='submit' class='btn btn-primary'>検索</button>
</form>
</body>
</html>